Flask==2.2.5
flask-mysqldb==0.2.0
python-dotenv==0.19.2
numpy==1.26.4
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.6
Flask-cors==4.0.0
networkx==3.2.1
matplotlib==3.5.1
gevent==24.2.1
gevent-websocket==0.10.1
gunicorn==21.2.0